# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# Logs
logs
*.log

# Environment variables
.env

# Testing
coverage/

# Temporary files
*.tmp
*.temp